<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/admin_Info.css">
    <title>Title</title>
</head>
<body>
    <article class="container">
        <div class="mainBox">
            <div class="mainInfoBox">
                <label for="categorySelect"></label>
                <select class="infoCategoryBox" id="categorySelect">
                    <option value="act">연극</option>
                    <option value="classic">클래식</option>
                    <option value="concert">콘서트</option>
                    <option value="exhibit">전시회</option>
                    <option value="musical">뮤지컬</option>
                </select>
                <label for="detailCategoryInput">세부 카테고리</label>
                <input class="infoDetailCategoryBox" id="detailCategoryInput" type="text" placeholder="카테고리"/>
                <label for="titleInput">제목</label>
                <input class="infoTitleBox" id="titleInput" type="text" placeholder="제목"/>
                <input type="file" id="infoMain">
                <input type="file" id="carousel">
            </div>
            <div class="descriptionInfoBox">
                <label for="dateInput">기간</label>
                <input class="infoPerformanceDateBox" id="dateInput" type="text" placeholder="기간"/><br>
                <label for="placeInput">장소</label>
                <input class="infoPerformancePlaceBox" id="placeInput" type="text" placeholder="장소"/><br>
                <label for="priceInput">가격</label>
                <input class="infoPerformancePriceBox" id="priceInput" type="text" placeholder="가격"/>원<br>
                <label for="timeInput">총 공연 시간</label>
                <input class="infoPerformanceRuntimeBox" id="timeInput" type="text" placeholder="총 공연 시간"/>분<br>
                <label for="ageInput">관람 연령</label>
                <input class="infoPerformanceAgeGradeBox" id="ageInput" type="text" placeholder="관람 연령"/>
            </div>
        </div>
        <div class="infoExplainBox">
            <button type="button" class="enrollButton">등록하기</button>
            <p class="addNotice">※여러개 첨부 시 순서대로 넣어주세요※</p>
            <button class="addFileButton" type="button"><img src="/image/icon/addFile.png"></button>
            <button class="deleteFileButton" type="button"><img src="/image/icon/deleteFile.png"></button>
        </div>
        <div class="subBox">

        </div>
        <a href="/adminList">리스트로....</a>
    </article>

    <script defer src="/js/admin_Write.js"></script>
</body>
</html>